#page-search #container {
  width: 100vw;
  height: 100vh;
}

/* ----Header---------- */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 0;
}

.page-header .header-perfil-content {
  display: flex;

  flex-direction: column;
  align-items: center;

  text-decoration: none;

  font: 300 1.6rem/1.6rem "Poppins";

  color: var(--color-name-perfil);
}

.page-header .header-perfil-content img {
  height: 8.4rem;
  margin-top: 2.8rem;
}

.page-header .top-bar-container a {
  transition: opacity 0.2s;
  height: 1.6rem;
  width: 6rem;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .header-content {
  width: 90%;
  margin: 10.2rem auto 0.8rem;
  position: relative;
}

.page-header .header-content strong {
  font: 700 3.2rem "Encode Sans";

  line-height: 4.2rem;
  color: var(--color-title);
}

#search-senseis {
  margin-top: 3.2rem;
}

#search-senseis .select-block {
  margin-bottom: 1.4rem;
}

#search-senseis button {
  width: 100%;
  height: 5.6rem;

  margin-top: 3.2rem;

  border: 0;
  border-radius: 0.8rem;

  background: var(--color-button);
  color: var(--color-button-text);
  cursor: pointer;

  font: 700 1.6rem "Poppins";

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2;
}

#search-senseis button:hover {
  background: var(--color-button-dark);
}

#search-senseis .input-block label,
#search-senseis .select-block label {
  font-size: 1.4rem;
  color: var(--color-label-input);
}

#search-senseis .input-block input,
#search-senseis .select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;

  border: 2px solid var(--color-input-border);

  outline: none;

  padding: 0 1.6rem;

  font: 1.6rem "Poppins";

  background-color: var(--color-background-input);
}

/* ----Main---------- */
#page-search main {
  margin: 3.2rem auto;
  width: 90%;
}

/* ----Main -> article -> header ---------- */

#page-search .senseis-item {
  background-color: var(--color-box-sensei);

  border: 0;
  border-radius: 0.8rem;

  margin-top: 2.4rem;
}

.senseis-item header {
  padding: 3.2rem 2rem;

  display: flex;
  align-items: center;
}

.senseis-item header img {
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
}

.senseis-item header div {
  margin-left: 2.4rem;
}

.senseis-item header div strong {
  font: 700 2.4rem "Encode Sans";
  display: block;
  color: var(--color-title-sensei);
}

.senseis-item header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
  color: var(--color-default);
}

.senseis-item p {
  padding: 0 2rem;

  font: 500 1.6rem/2.8rem "Roboto";
  color: var(--color-description-sensei);
}

/* ----Main -> article -> footer---------- */

.senseis-item footer {
  padding: 3.2rem 2rem;
}

.senseis-item footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-button-sensei);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem "Poppins";

  text-decoration: none;

  transition: background 0.2s;
  margin-left: 0 auto;
}

.senseis-item footer button:hover {
  background: var(--color-button-sensei-dark);
}

/* ----Media-query (Responsive)---------- */

@media (min-width: 700px) {
  #page-search #container {
    max-width: 100vw;
  }

  .page-header {
    height: 340px;
  }

  .page-header .top-bar-container {
    max-width: 1100px;
  }

  .page-header .header-content {
    max-width: 740px;

    margin: 0 auto;

    flex: 1 1;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-header .header-content strong {
    max-width: 350px;
  }

  .senseis-item header,
  .senseis-item footer {
    padding: 32px;
  }

  #search-senseis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;

    position: absolute;
    bottom: -28px;
  }

  #page-search main {
    padding: 32px 0;
    max-width: 740px;
    margin: 0 auto;
  }

  #search-senseis .select-block {
    margin-bottom: 0;
  }

  .senseis-item p {
    padding: 0 32px;
  }

  .senseis-item footer button {
    width: 100%;
    font-size: 16px;
    justify-content: center;
    font-weight: 700;

    margin: 0 auto;
  }
}
