#page-login #container {
  width: 100vw;
  height: 100vh;
}

#container {
  background: linear-gradient(45deg, #f3f3f3, #c7c7c7) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 10rem auto;
  background: white;
  max-width: 46rem;
  min-height: 40vh;
  padding: 5.4rem 5.4rem 2.6rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgb(0 0 0 / 60%);
  border-radius: 0.8rem;
}

form span {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
}

form img {
  width: 48%;
  align-self: center;
  margin: 1rem auto 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

form .input-field {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}

form input {
  outline-color: #39ae76;

  border: solid 0.3rem rgba(122, 120, 120, 0.699);
  border-radius: 0.4rem;
  margin: 0.18rem 2rem;
  text-align: center;

  font-family: "Poppins";
  font-weight: 200;
}

#input-field-username {
  margin: 2rem 0 2.2rem;
}

form button.btn-submit {
  margin: 2rem 0 1rem;
  padding: 0.8rem;
  border: 0;
  border-radius: 0.8rem;

  font: 700 1.6rem/1.4rem "Encode Sans";
  height: 3.8rem;
  color: var(--color-text-login);

  background-color: var(--color-button);
  text-decoration: none;

  cursor: pointer;

  transition: 0.4s;
}

.btn-submit:hover {
  background-color: #067683;
}

.separator {
  content: "";
  height: 0.1rem;
  width: 25rem;
  background: #a8a8b3;
  margin: 1rem auto;
}

#register-group-btn {
  display: flex;
  justify-content: space-between;
  margin: 3.2rem 0;
}

.register-btn {
  font-size: 1.4rem;
  color: #39a2aec0;

  display: flex;
  align-items: center;
  font-weight: 600;
}

#register-group-btn > a {
  margin-right: 1rem;
}
